.wrap_single_character {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .character_title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 50px;
    letter-spacing: 5rem;
    color: #332f2f;
  }

  a, a:hover, a:active {
    transition: 0.3s;
  }

  a {
    color: gray;
  }

  a:hover {
    color: #814110;
  }

  a:active {
    color: #332f2f;
  }

  .main_single_character {
    width: 100%;
    padding-top: 20px;
    display: flex;

    .image_info {
      padding: 10px 0;
      color: silver;

      .image > a > img {
        border-radius: 1px;
        transition: .3s;
      }

      .image > a > img:hover {
        cursor: pointer;
        transform: scale(1.1);
        border-radius: 5px;
        transition: .3s;
      }
    }

    .single_character_info {
      padding: 50px 20px;
      color: silver;

      .character_status {
        display: flex;

        .status_circle {
          margin-left: 4px;
          margin-top: 6px;
          width: 10px;
          height: 10px;
          border: 1px solid;
          border-radius: 50%;

        }

        .background_green {
          background: green;
        }

        .background_brown {
          background: brown;
        }
      }
    }
  }

  .character_episodes {
    width: 100%;

    ::ng-deep.mat-expansion-panel-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .episodes_url {
      width: 150px;
      border: #282828 1px solid;
      border-radius: 5px;
      margin: 2px;
      padding: 0 2px;
    }
  }

  @media (max-width: 992px) {
    .character_title {
      font-size: 35px;
      letter-spacing: 3rem;

    }
  }
  @media (max-width: 767px) {
    .character_title {
      font-size: 40px;
      letter-spacing: 2rem;
      top: -30px;
    }
  }

  @media (max-width: 530px) {
    .character_title {
      font-size: 30px;
      letter-spacing: 1rem;
    }
    .main_single_character {
      flex-direction: column;

      .image_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 380px) {
          a > img {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 380px) {
    .character_title {
      font-size: 20px;
      letter-spacing: 0.8rem;
    }
  }
}
