<div class="wrap_single_character" *ngIf="!error; else pageError">
  <div  class="main_single_character">
    <div class="image_info">
      <h1>{{singleComponent.name}}</h1>
      <div class="image">

        <a href="{{singleComponent.image}}" title="{{singleComponent.name}}">
          <img src="{{singleComponent.image}}" alt="img:{{singleComponent.name}}"/>
        </a>

        <h4>{{singleComponent.name}}</h4>
        <h5>created: {{singleComponent.created.split('T').splice(0,1)}}</h5>
      </div>
    </div>
    <div class="single_character_info">
      <h2>Origin name:
        <a routerLink="{{originUrl}}">
          <h4>{{singleComponent.origin.name}}</h4>
        </a>
      </h2>

      <h2>Location name:
        <a routerLink="{{locationUrl}}">
          <h4>{{singleComponent.location.name}}</h4>
        </a>
      </h2>

      <p>species: {{singleComponent.species}}</p>
      <p>status: {{singleComponent.status}}</p>
      <p *ngIf="singleComponent.type">type: {{singleComponent.type}} </p>
      <p *ngIf="!singleComponent.type">type: <i>no info</i> </p>
      <p>gender: {{singleComponent.gender}}</p>
    </div>
  </div>
  <div class="character_episodes">
    <mat-accordion>
      <mat-expansion-panel style="background: #282828" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title style="padding-top: 15px">
            <h2>Episodes</h2>
          </mat-panel-title>
          <mat-panel-description>
            <i>click to {{panelOpenState ? 'close' : 'open'}}</i>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="episodes_url" *ngFor="let episodeUrl of episodeUrls">
          <a routerLink="/episodes/{{episodeUrl.split('/').splice(-1)}}">
            <h4>Episode - {{episodeUrl.split('/').slice(-1)}}</h4>
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<ng-template #pageError>
  <h1>{{error.message}}:(</h1>
  <h4> error: {{error.status}}</h4>
</ng-template>
