<div class="wrap_single_episode" *ngIf="!error; else pageError">
  <div class="single_episode_info_1">
    <h1><span style="font-weight: 100">Episode name:</span> {{singleComponent.name}}</h1>
    <h3>air date: {{singleComponent.air_date}}</h3>
    <p>created: {{singleComponent.created.split('T').splice(0,1)}}</p>
  </div>

  <div class="single_episode_info_2">
    <h2>Characters in the episode <span style="color: #814110">{{singleComponent.episode}}</span></h2>
    <div class="buttons_block">
      <div class="characters_url" *ngFor="let url of characterUrls">
        <button routerLink="{{url}}" mat-raised-button>Character - {{url.split('/').slice(-1)}}</button>
      </div>
    </div>
  </div>
</div>

<ng-template #pageError>
  <h1>{{error.message}}:(</h1>
  <h4> error: {{error.status}}</h4>

</ng-template>
