.wrap_single_episode {
  width: 100%;
  display: flex;
  position: relative;
  color: silver;

  .episode_title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 50px;
    letter-spacing: 5rem;
    color: #332f2f;
  }

  a {
    color: gray;
  }

  .single_episode_info_1 {
    width: 30%;
    padding: 50px 5px;
  }

  .single_episode_info_2 {
    width: 69%;
    padding: 50px 5px;
  }

  .buttons_block {
    display: flex;
    flex-wrap: wrap;
  }
}

.characters_url {
  border: #282828 1px solid;
  border-radius: 5px;
  margin: 2px;
  padding: 0 2px;

  button {
    width: 200px;
    background: #b27241;
  }
}

::ng-deep.mat-expansion-panel-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .wrap_single_episode > .episode_title {
    font-size: 35px;
    letter-spacing: 3rem;

  }
}

@media (max-width: 767px) {
  .wrap_single_episode {
    flex-direction: column;

    .episode_title {
      top: -30px;
      font-size: 40px;
      letter-spacing: 2rem;
    }

    .single_episode_info_1 {
      margin-top: 40px;
      width: 100%;
      padding: 0;
    }

    .single_episode_info_2 {
      width: 100%;
      padding: 0;
      .buttons_block{
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 530px) {
  .wrap_single_episode > .episode_title {
    font-size: 30px;
    letter-spacing: 1rem;
  }
}

@media (max-width: 380px) {
  .wrap_single_episode > .episode_title {
    font-size: 20px;
    letter-spacing: 0.8rem;
  }
}

