<div class="footer_container">
  <div class="footer_info_block">
    <a href="https://en.wikipedia.org/wiki/Rick_and_Morty">
      <img href="https://en.wikipedia.org/wiki/Rick_and_Morty" class="img" src="assets/img/footer/rick_and_morty_2.png"
           alt="Rick_and_Morty">
    </a>
    <ul>Genre:
      <li><a href="https://en.wikipedia.org/wiki/Animated_sitcom">Animated sitcom</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Adult_animation">Adult animation</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Science_fiction_on_television">Science fiction</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Black_comedy">Black comedy</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Adventure_fiction">Adventure</a></li>
    </ul>
    <ul>Created by:
      <li>Justin Roiland and Dan Harmon</li>
    </ul>
  </div>

  <div class="footer_info_block">
    <ul>Voices of:
      <li>Justin Roiland</li>
      <li><a href="https://en.wikipedia.org/wiki/Chris_Parnell">Chris Parnell</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Spencer_Grammer">Spencer Grammer</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Sarah_Chalke">Sarah Chalke</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Kari_Wahlgren">Kari Wahlgren</a></li>
      <li>Composer Ryan Elder</li>
      <li>Country of origin United States</li>
      <li>Original language English</li>
      <li>No. of seasons 6</li>
      <li>No. of episodes 61 <a routerLink="episodes">(list of episodes)</a></li>
    </ul>
  </div>

  <div class="footer_info_block">
    <h3>Production</h3>
    <ul>Executive producers:
      <li>Dan Harmon</li>
      <li>Justin Roiland</li>
      <li>James A. Fino (seasons 1–2)</li>
      <li><a href="https://en.wikipedia.org/wiki/Mike_McMahan">Mike McMahan</a> (season 4)</li>
      <li>Joe Russo II (seasons 1–2)</li>
      <li>Executive producers:</li>
      <li>Scott Marder (season 6)</li>
    </ul>
  </div>

  <div class="footer_info_block">
    <ul>Producers
      <li><a href="https://en.wikipedia.org/wiki/J._Michael_Mendel">J. Michael Mendel</a> (seasons 1–4)</li>
      <li>Kenny Micka (pilot)</li>
    </ul>
    <ul>Running time:
      <li>22 minutes</li>
    </ul>
    <ul>Production companies:
      <li><a href="https://en.wikipedia.org/wiki/Williams_Street">Williams Street</a></li>
      <li>Rick and Morty, LLC. (seasons 2–3)[1]</li>
      <li>Production companies</li>
      <li>Starburns Industries (seasons 1–2)</li>
      <li><a href="https://en.wikipedia.org/wiki/Justin_Roiland%27s_Solo_Vanity_Card_Productions!">Justin Roiland's Solo
        Vanity Card Productions!</a></li>
      <li>Green Portal Productions (seasons 4–present)</li>
      <li>Harmonious Claptrap</li>
    </ul>
    <ul>Distributor:
      <li><a
        href="https://en.wikipedia.org/wiki/Warner_Bros._Television_Studios#Warner_Bros._Domestic_Television_Distribution">Warner
        Bros. Television Distribution</a></li>
    </ul>
  </div>

  <div class="footer_info_block">
    <h3>Release</h3>
    <ul>Original network:
      <li><a href="https://en.wikipedia.org/wiki/Adult_Swim">Adult Swim</a></li>
    </ul>
    <ul>Picture format:
      <li>HDTV 1080i</li>
    </ul>
    <ul>Original release:
      <li>December 2, 2013 –
        present
      </li>
    </ul>
  </div>
</div>
<h5><i>© 2023 Copyright: Andriy Konoval</i></h5>
