.wrap_episodes {
  width: 100%;
  padding-right: 3%;
  margin-top: 35px;
  position: relative;

  .episode_title {
    position: absolute;
    left: 23%;
    top: -15px;
    font-size: 50px;
    letter-spacing: 5rem;
    color: #332f2f;
  }

  .main_content {
    width: 100%;
    display: flex;


    .filter_episodes {
      margin-top: 30px;
      width: 15%;
    }

    .wrap_episodes {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.pagination {
  display: block;
  margin-top: 20px;
  width: 100%;
}

app-episode {
  width: 48%;
  margin: 5px 1%;
}





