<div class="wrap_episodes">
  <main class="main_content">
    <span class="episode_title">Episodes</span>
    <app-select-items [pageItems]="episodes"></app-select-items>
    <div class="filter_episodes">
      <app-episodes-filter></app-episodes-filter>
      <app-count-info></app-count-info>
    </div>

    <main *ngIf="episodes" class="wrap_episodes">
      <app-episode *ngFor="let episode of episodes" [episode]="episode"></app-episode>
    </main>

  </main>
</div>

<div class="pagination">
  <app-pagination [total_pages]="total_pages"></app-pagination>
</div>
