<div class="wrap_episodes">


  <main class="main_content">
    <span class="episode_title">Episodes</span>
    <button *ngIf="isVisible" class="select select_all" (click)="selectAll()">All</button>
    <button *ngIf="isVisible" class="select" (click)="selected()">select</button>
    <button *ngIf="isVisible" class="select cleanList" (click)="cleanList()">clean</button>

    <div class="filter_episodes">
      <app-episodes-filter></app-episodes-filter>
    </div>

    <div class="wrap_episodes">
      <app-episode *ngFor="let episode of episodes" [episode]="episode"></app-episode>
    </div>

  </main>
</div>

<div class="pagination">
  <app-pagination [total_pages]="total_pages"></app-pagination>
</div>
