.wrap_episodes {
  width: 100%;
  padding-right: 3%;
  margin-top: 35px;
  position: relative;

  .episode_title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 50px;
    letter-spacing: 5rem;
    color: #332f2f;
  }

  .main_content {
    width: 100%;
    display: flex;

    .filter_episodes {
      margin-top: 30px;
      width: 15%;
    }

    .wrap_episodes {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.pagination {
  display: block;
  margin-top: 20px;
  width: 100%;
}

app-episode {
  width: 48%;
  margin: 5px 1%;
}


@media (max-width: 1200px) {
  .wrap_episodes > .episode_title {
    font-size: 40px;
    letter-spacing: 4rem;
  }
}

@media (max-width: 992px) {
  .wrap_episodes {
    .episode_title {
      font-size: 35px;
      letter-spacing: 3rem;
    }

    .main_content {
      .filter_episodes {
        width: 20%;
      }

      .wrap_episodes {
        width: 79%;
      }
    }
  }
}

@media (max-width: 767px) {
  .wrap_episodes {
    .episode_title {
      font-size: 40px;
      letter-spacing: 2rem;
      top: -30px;
    }

    .main_content {
      flex-direction: column;
      width: 100%;
      align-items: center;

      .filter_episodes {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        app-episodes-filter {
          width: 50%;
          margin: 0 5px;
        }

        app-count-info {
          width: 50%;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
        }
      }

      .wrap_episodes {
        width: 100%;
        padding: 0;
      }
    }
  }
  app-episode {
    width: 48%;
    margin: 2px 1%;
    justify-content: space-evenly;
  }
}

@media (max-width: 650px) {
  .wrap_episodes {
    .episode_title {
      font-size: 30px;
      letter-spacing: 1.5rem;
      top: -30px;
    }

    .main_content {
      .wrap_episodes {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
  app-episode {
    width: 100%;
    margin: 1px 1%;
  }
}

@media (max-width: 530px) {
  .wrap_episodes {
    .episode_title {
      font-size: 30px;
      letter-spacing: 1rem;
    }
  }
}

@media (max-width: 380px) {
  .wrap_episodes > .episode_title {
    font-size: 20px;
    letter-spacing: 0.8rem;
  }
  app-episode {
    width: 100%;
    min-height: 80px;
    margin: 5px 1%;
  }
}





