<header class="header">
  <nav class="navigation">
    <div class="width_30"><a class="characters" routerLink="characters" routerLinkActive="active">Characters</a></div>
    <div class="width_30"><a class="episodes" routerLink="episodes" routerLinkActive="active">Episodes</a></div>
    <div class="width_30"><a class="locations" routerLink="locations" routerLinkActive="active">locations</a></div>
  </nav>
  <div class="header_info">
    <a routerLink=""><i class="fa-sharp fa-solid fa-house-user"></i></a>
  </div>
</header>

