.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60px;
  background: #b27241;


  a, a:hover, a:active {
    transition: 0.3s;
  }

  a {
    color: #282828;
    font-size: 1.1rem;
    padding: 5px;
    margin-left: 20px;
  }

  a:hover {
    color: #814110;
  }

  a:active {
    color: brown;
    letter-spacing: .1rem;
  }

  .navigation {
    display: flex;
    width: 30%;
    justify-content: space-between;

    .width_30 {
      width: 30%;
    }


    .active {
      color: brown;
      letter-spacing: .1rem;
    }
  }

  .header_info {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;


    .header_logo {
      width: 19%;
      display: flex;
      justify-content: right;

      img {
        width: 120px;
        border-radius: 5px;
        transition: .4s;


      }
      img:hover{
        scale: 1.1;
        transition: .4s;
      }

      img:active{
        scale: 1;
        transition: .4s;
      }
    }

    .header_home {
      width: 80%;
      display: flex;
      justify-content: right;
    }

  }

}
