
<div class="block_location">

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2><a routerLink="" (click)="submit()">{{location.name}}</a></h2>
      </mat-panel-title>
      <mat-panel-description>
        I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3>type: {{location.type}}</h3>
    <h4>{{location.dimension}}</h4>
    <p>created: {{location.created}}</p>
  </mat-expansion-panel>


</div>
