<div class="wrap_characters">
  <span class="character_title">Characters</span>
  <main class="main_content">
    <button *ngIf="isVisible" class="select select_all" (click)="selectAll()">All</button>
    <button *ngIf="isVisible" class="select" (click)="selected()">select</button>
    <button *ngIf="isVisible" class="select cleanList" (click)="cleanList()">clean</button>
    <div class="filter_characters">
      <app-characters-filter></app-characters-filter>
      <app-count-info></app-count-info>
    </div>
    <main *ngIf="characters" class="wrap_characters">
      <app-character *ngFor="let character of characters" [character]="character"></app-character>
    </main>
  </main>
  <div class="pagination">
    <app-pagination [total_pages]="total_pages"></app-pagination>
  </div>
</div>




