<div class="wrap_characters">
  <span class="character_title">Characters</span>
  <main class="main_content">
    <button *ngIf="isVisible" class="select select_all" (click)="selectAll()">All</button>
    <button *ngIf="isVisible" class="select" (click)="selected()">select</button>
    <button *ngIf="isVisible" class="select cleanList" (click)="cleanList()">clean</button>
    <div class="filter_characters">
      <app-characters-filter></app-characters-filter>
      <div *ngIf="countInfo" class="count_info">
        <p class="color_silver">Characters: {{countInfo.characters}}</p>
        <p class="color_silver">Episodes: {{countInfo.episodes}}</p>
        <p class="color_silver">Locations: {{countInfo.locations}}</p>
      </div>
      <div class="count_info">
        <mat-progress-bar *ngIf="!countInfo" mode="indeterminate"></mat-progress-bar>
      </div>


    </div>
    <main *ngIf="characters" class="wrap_characters">
      <app-character  *ngFor="let character of characters" [character]="character"></app-character>
    </main>
  </main>
  <div class="pagination">
    <app-pagination [total_pages]="total_pages"></app-pagination>
  </div>
</div>


