.wrap_locations {
  display: flex;
  margin-top: 80px;
  padding-right: 3%;
  position: relative;

  .location_title {
    position: absolute;
    left: 20%;
    top: -50px;
    font-size: 50px;
    letter-spacing: 5rem;
    color: #332f2f;
  }

  .filter_locations {
    width: 15%;
  }

  .main_locations {
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;

    app-location {
      width: 18%;
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
    }
  }
}

.pagination {
  display: block;
  margin-top: 20px;
  width: 100%;
}
