<div class="wrap_locations">

  <span class="location_title">Locations</span>
  <button *ngIf="isVisible" class="select select_all" (click)="selectAll()">All</button>
  <button *ngIf="isVisible" class="select" (click)="selected()">select</button>
  <button *ngIf="isVisible" class="select cleanList" (click)="cleanList()">clean</button>

  <div class="filter_locations">
    <app-locations-filter></app-locations-filter>
  </div>

  <main class="main_locations">
    <app-location *ngFor="let location of locations" [location]="location"></app-location>
  </main>

</div>

<div class="pagination">
  <app-pagination [total_pages]="total_pages"></app-pagination>
</div>
