.wrap_home {
  width: 100%;
  transition: 1s;


  .count_info {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 1s;

    .color_silver {
      background: #332f2f;
      color: grey;
      margin-top: 10px;
      width: 20%;
      height: 40px;
      transition: 1s;
    }
  }

}

