<div class="wrap_home">
  <div *ngIf="countInfo; else loading" class="count_info">
    <button routerLink="/characters" class="nav_button" mat-raised-button>Characters ~ {{countInfo.characters}}</button>
    <button routerLink="/episodes" class="nav_button" mat-raised-button>Episodes ~ {{countInfo.episodes}}</button>
    <button routerLink="/locations" class="nav_button" mat-raised-button>Locations ~ {{countInfo.locations}}</button>
  </div>
</div>

<ng-template #loading>
  <div class="count_info">
    <h2>Loading...</h2>
    <mat-spinner style="width: 5%"></mat-spinner>
  </div>
</ng-template>
