.block_episode {
  width: 100%;
  position: relative;
  overflow: hidden;

  .mat_button {
    padding-top: 15px;
    border: #b27241 1px solid;
  }

  a, a:hover, a:active {
    transition: .3s;
    color: #c65eff;
  }

  a {
    color: #282828;
    font-weight: 500;
    letter-spacing: .1rem;
    cursor: pointer;
  }

  a:hover {
    color: silver;
  }

  a:active {
    letter-spacing: .3rem;

  }

  .inner_shadow {
    padding: 10px;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  .image_toggle {
    box-shadow: 10px 10px 10px;
  }

  .checkbox {
    position: absolute;
    left: 2px;
    bottom: 2px;
    opacity: 0.2;
    transition: .3s;

  }

  .checkbox:hover {
    transition: .3s;
    opacity: 1;
  }

  .checkbox::after {
    opacity: 1;
  }

  .active {
    opacity: 1;
  }
}

::ng-deep.mat-mdc-menu-content {
  background: #817d7d;
}

.padding_top {
  padding-top: 10px;
}


