<div class="wrap_location_filter">

  <div *ngIf="errorStatus" class="filter_error">
    <p>{{error.message}}:(</p>
    <p> error: {{error.status}}</p>
  </div>

  <button (click)="toggleFilter()" class="toggle_filter_button" mat-button>
    <span>Filter</span>
    <span style="margin-left: 10px; color: black">
      <i style="color: gray" *ngIf="!toggleFilterBlock" class="fa-solid fa-caret-down"></i>
      <i style="color: gray" *ngIf="toggleFilterBlock" class="fa-solid fa-caret-up"></i>
    </span>
  </button>


  <form [formGroup]="form" class="filter_form">
    <div *ngIf="toggleFilterBlock">
      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Name</mat-label>
        <input (keyup)="submit()" matInput type="text" formControlName="name"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Type</mat-label>
        <input (keyup)="submit()" formControlName="type" matInput/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="mat-form-field">
        <mat-label>Dimension</mat-label>
        <input (keyup)="submit()" formControlName="dimension" matInput/>
      </mat-form-field>

      <div class="form_buttons">
        <button class="color_silver" (click)="submit()" mat-raised-button>Search</button>
        <button class="color_silver" (click)="cleanFilter()" mat-raised-button>Clean</button>
      </div>
    </div>
  </form>
</div>


