<div class="block_character">
  <div class="image">
    <img class="img" src="{{character.image}}" alt="img:{{character.name}}"/>
    <div class="shadow" (click)="submit()"></div>
    <h5>{{character.created.split('T').splice(-2, 1).toString()}}</h5>
  </div>
  <div class="name">
    <a routerLink="" (click)="submit()"><h2>{{character.name}}</h2></a>
    <label (click)="selected()">
      <input class="checkbox {{classActive && 'active'}}" type="checkbox" [checked]="classActive">
    </label>
  </div>
</div>

