<div *ngIf="!error;else pageError" class="block_character">
  <div *ngIf="character" class="image">
    <img class="img" src="{{character.image}}" alt="img:{{character.name}}"/>
    <div class="block_shadow" (click)="submit()"></div>
    <div class="position_absolute"><span style="font-size:15px">{{character.status}}</span>

      <div class="status_circle background_green" *ngIf="character.status === 'Alive'"></div>
      <div class="status_circle background_brown" *ngIf="character.status === 'Dead'"></div>

    </div>
  </div>
  <div *ngIf="character" class="name">
    <a (click)="submit()"><span class="character_name">{{character.name}}</span></a>
    <label (click)="select()">
      <input class="checkbox {{classActive && 'active'}}" type="checkbox" [checked]="classActive">
    </label>
  </div>
</div>

<ng-template #pageError>
  <h1>{{error.message}}:(</h1>
  <h4> error: {{error.status}}</h4>
</ng-template>

