.wrap_multiple_location{

  .common_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
    border-top: 1px dashed black ;
    color: silver;


    .block_location_info {
      width: 20%;

    }

    .block_residents_url {
      padding-left: 5px;
      width: 78%;
      display: flex;
      flex-wrap: wrap;

      .resident {
        width: 150px;
      }
    }

    a, a:hover, a:active {
      transition: .3s;
    }

    a {
      color: grey;
      font-weight: 400;
      letter-spacing: .1rem;
      cursor: pointer;
    }

    a:hover {
      color: #814110;
    }

    a:active {
      color: #885226;

    }
  }
}
