<div class="wrap_multiple_location" *ngIf="locations">
  <span class="location_title">Locations</span>
  <div *ngFor="let location of locations" class="common_block">
    <div class="block_location_info">
      <a routerLink="/locations/{{location.id}}">
        <h2>{{location.name}}</h2>
      </a>
      <h3>type: {{location.type}}</h3>
      <h4>{{location.dimension}}</h4>
      <p>created: {{location.created}}
  <hr/>
    </div>
    <div class="block_residents_url">
      <div class="resident" *ngFor="let url of location.residents">
        <a routerLink="/characters/{{url.split('/').splice(-1)}}">
          Character - {{url.split('/').splice(-1)}}
        </a>
      </div>
    </div>
  </div>

</div>
