<div *ngIf="!error; else pageError">
  <div *ngFor="let episode of episodes">
    <div class="wrap_multiple_episode">

      <span class="episode_title">Episodes</span>

      <div *ngIf="episode" class="multiple_episode_info_1">
        <h1><span style="font-weight: 100">Episode name: </span> <a
          routerLink="/episodes/{{episode.id}}">{{episode.name}}</a></h1>
        <h3>air date: {{episode.air_date}}</h3>
        <p>created: {{episode.created.split('T').splice(0, 1)}}</p>
        <hr/>
      </div>

      <div *ngIf="episode" class="multiple_episode_info_2">
        <h2>Characters in the episode <span style="color: #814110">{{episode.episode}}</span></h2>
        <div class="buttons_block">
          <div class="characters_url" *ngFor="let url of episode.characters">
            <button routerLink="/characters/{{url.split('/').splice(-1)}}" mat-raised-button>Character
              - {{url.split('/').slice(-1)}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pageError>
  <div  style="color: brown">
    <h1>{{error.message}} :(</h1>
    <h4> error: {{error.status}}</h4>
  </div>
</ng-template>
