.wrap_multiple_episode {
  width: 100%;
  display: flex;
  position: relative;
  color: silver;

  .episode_title {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 50px;
    letter-spacing: 5rem;
    color: #332f2f;
  }

  .multiple_episode_info_1 {
    width: 30%;
    padding: 50px 5px;
  }

  .multiple_episode_info_2 {
    width: 69%;
    padding: 50px 5px;
  }

  .buttons_block {
    display: flex;
    flex-wrap: wrap;
  }


  .characters_url {
    border: #282828 1px solid;
    border-radius: 5px;
    margin: 2px;
    padding: 0 2px;

    button {
      width: 200px;
      background: #b27241;
    }
  }

  a, a:hover, a:active {
    transition: .3s;
  }

  a {
    color: grey;
    font-weight: 500;
    letter-spacing: .1rem;
    cursor: pointer;
  }

  a:hover {
    color: #b27241;
  }

  a:active {
    color: #814110;
  }

}

::ng-deep.mat-expansion-panel-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .wrap_multiple_episode > .episode_title {
    font-size: 40px;
    letter-spacing: 4rem;
  }
}

@media (max-width: 992px) {
  .wrap_multiple_episode {
    .episode_title {
      font-size: 35px;
      letter-spacing: 3rem;
    }

    .multiple_episode_info_2 > .buttons_block {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .wrap_multiple_episode > .episode_title {
    font-size: 40px;
    letter-spacing: 2rem;
    top: -30px;
  }
}

@media (max-width: 650px) {
  .wrap_multiple_episode > .episode_title {
    font-size: 30px;
    letter-spacing: 1.5rem;
    top: -30px;
  }
}

@media (max-width: 530px) {
  .wrap_multiple_episode {
    flex-direction: column;

    .episode_title {
      font-size: 30px;
      letter-spacing: 1rem;
    }

    .multiple_episode_info_1, .multiple_episode_info_2 {
      width: 100%;
      padding: 0;
      margin-top: 40px;
    }
  }
}

@media (max-width: 380px) {
  .wrap_multiple_episode > .episode_title {
    font-size: 20px;
    letter-spacing: 0.8rem;
  }
  .character_multiple_container > .main_multiple_character {
    flex-direction: column;

    .image_info > .image > a > img {
      width: 100%;
    }
  }
}
