<div class="wrap_carousel" >

  <div id="carouselExampleControls" *ngIf="characters; else loading" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="characters/{{characters[0].id}}"> <img src="{{characters[0].image}}" class="d-block w-100" alt="{{characters[0].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="characters/{{characters[1].id}}"> <img src="{{characters[1].image}}" class="d-block w-100" alt="{{characters[1].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="characters/{{characters[2].id}}"> <img src="{{characters[2].image}}" class="d-block w-100" alt="{{characters[2].name}}"></a>
      </div>
    </div>

  </div>

  <div *ngIf="characters; else loading" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/characters/{{characters[3].id}}"> <img src="{{characters[3].image}}" class="d-block w-100" alt="{{characters[3].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[4].id}}"> <img src="{{characters[4].image}}" class="d-block w-100" alt="{{characters[4].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[5].id}}"> <img src="{{characters[5].image}}" class="d-block w-100" alt="{{characters[5].name}}"></a>
      </div>
    </div>

  </div>

  <div *ngIf="characters; else loading" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/characters/{{characters[6].id}}"> <img src="{{characters[6].image}}" class="d-block w-100" alt="{{characters[6].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[7].id}}"> <img src="{{characters[7].image}}" class="d-block w-100" alt="{{characters[7].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[8].id}}"> <img src="{{characters[8].image}}" class="d-block w-100" alt="{{characters[8].name}}"></a>
      </div>
    </div>

  </div>

  <div *ngIf="characters; else loading" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/characters/{{characters[9].id}}"> <img src="{{characters[9].image}}" class="d-block w-100" alt="{{characters[9].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[10].id}}"> <img src="{{characters[10].image}}" class="d-block w-100" alt="{{characters[10].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[11].id}}"> <img src="{{characters[11].image}}" class="d-block w-100" alt="{{characters[11].name}}"></a>
      </div>
    </div>

  </div>

  <div *ngIf="characters; else loading" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/characters/{{characters[12].id}}"> <img src="{{characters[12].image}}" class="d-block w-100" alt="{{characters[12].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[13].id}}"> <img src="{{characters[13].image}}" class="d-block w-100" alt="{{characters[13].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[14].id}}"> <img src="{{characters[14].image}}" class="d-block w-100" alt="{{characters[14].name}}"></a>
      </div>
    </div>

  </div>

  <div *ngIf="characters; else loading" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/characters/{{characters[15].id}}"> <img src="{{characters[15].image}}" class="d-block w-100" alt="{{characters[15].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[16].id}}"> <img src="{{characters[16].image}}" class="d-block w-100" alt="{{characters[16].name}}"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/characters/{{characters[17].id}}"> <img src="{{characters[17].image}}" class="d-block w-100" alt="{{characters[17].name}}"></a>
      </div>
    </div>

  </div>

</div>


<ng-template #loading>
  <div class="slide">
    <mat-spinner style="width: 20%;"></mat-spinner>
  </div>
</ng-template>
