.wrap_carousel{
  display: flex;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(90deg, rgba(15,14,33,1) 0%, rgba(134,131,48,1) 54%, rgba(39,36,59,1) 100%);

  .slide{
    margin: 10px 3%;
    width: 150px;
    display: flex;
    z-index: 100;
    .carousel-item{

    }
  }
}
