<div class="wrap_single_location" *ngIf="!error; else pageError">
  <div class="block_location_info"><h2>{{singleComponent.name}}</h2>
    <h3>type: {{singleComponent.type}}</h3>
    <h4>{{singleComponent.dimension}}</h4>
    <p>created: {{singleComponent.created}}</div>
  <div class="block_residents_url">
    <div class="resident" *ngFor="let url of residentsUrls">
      <a href="{{url}}">Character - {{url.split('/').splice(-1)}}</a>
    </div>
  </div>
</div>


<ng-template #pageError>
  <h1>{{error.message}}:(</h1>
  <h4> error: {{error.status}}</h4>

</ng-template>
